body, ul {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


header {
  background-color: #333; 
  color: #fff;
  padding: 10px 10px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.logo img {
  width: 200px; 
}

.nav-bar ul {
  list-style: none; 
  display: flex; 
  margin: 13px;
}

.nav-bar li {
  margin-right: 20px; 
}

.nav-bar a {
  text-decoration: none; 
  color: #fff; 
  transition: color 0.3s; 
}

.nav-bar a:hover {
  color: #ffd700; 
}

.hamburger {
  display: none;
}


@media (max-width: 768px) {
  .hamburger {
    display: block; 
  }

  .nav-bar {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    background-color: #333; 
    width: 100%;
    text-align: center; 
  }

  .nav-bar.active {
    display: flex;
  }

  .nav-bar li {
    margin: 10px 0; 
  }
}
