*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
      background-color: black;
      margin: 0;
  
  }
  
  header{
    width: 100%;
    height: 80px;
    background:#333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  #logo {
    width: 50%;
    margin-left: 0px;
    padding-left: 0;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  
  .hamburger{
    display:none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
  }
  
  .nav-bar ul{
    display: flex;
  }
  
  .nav-bar ul li a {
    display: block;
    color:white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    transition: 0.2s;
    margin: 0 5px;
  }
  
  .nav-bar ul li a:hover{
    color:#cfc926;
    background: #333;
  }
  
  .nav-bar ul li a.active{
    color:#cfc926;
    background:black;
  }
  
  @media only screen and (max-width:1320px){
    header{
        padding: 0 ;
    }
  }
  
  @media only screen and (max-width:1100px){
    header{
        padding: 0 ;
    }
  }
  
  @media only screen and (max-width:900px){
  
    #logo {
      width: 70%;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 30px;
      padding:0;
    }
  
    .fa {
      border-left: solid #ccc735;
      padding-left: 10px;
    }
        
    .faIcon {
      margin-right: 20px;
      cursor: pointer;
      display: block;
      color: white;
    }
  
    .hamburger{
        display: block;
        cursor: pointer;
        padding:0;
        margin-left:0;
    }
  
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
  
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left:0;
        right:0;
        width: 100vw;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }
  
    .nav-bar.active{
        height: 700px;
        z-index: 1;
    }
  
    .nav-bar.active ul{
        opacity: 1;
    }
    
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }
  
    .nav-bar ul li a{
        margin-bottom: 12px;
        color:white;
    }
  
    #quote1 {
      z-index: -1;
      position: relative;
      text-align: center;
      margin-top: 10%;
      margin-bottom: 15%;
      bottom: 10px;
      top: 120px;
      right:0%;
      margin-left: 10px;
      transform: translate(-50%, -50%);
      font-size: 0px;
      color: white;
    }
  
    .traveling {
      background-color: rgb(248, 248, 181);
      padding: 50px 40px;
    }
    
    #traveling2 {
      text-align: center;
    }
  
    #slogan {
      display: block;
      color: #ccc735;
      text-align: center;
      font-family: cursive;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  
    .offer {
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-right: 50px;
      font-size: 14px;
    }
  
    .offer .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer2 .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer3 .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer4 .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer5 .pic{
      width: 92%;
      height: 150%;
    }
    .offer6 .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer7 .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer8 .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer9 .pic{
      width: 92%;
      height: 150%;
    }
  
    .offer2{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 5px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 14px;
    }
  
    .offer3{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 5px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 14px;
    }
  
    .offer4{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 35px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 14px;
    }
  
    .offer5{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 35px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 14px;
    }
  
    .offer6{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 35px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 14px;
    }
  
    .offer7{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 35px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 14px;
    }
  
    .offer8{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 35px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 14px;
    }
  
    .offer9{
      width:70%;
      height: 50%;
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 35px;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 14px;
    }
  
    button {
      width: 100%;
      height: 40%;
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 20px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }
    
    .navbar {
      z-index: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
    }
    
    .navbar-links{
      z-index: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    .nav{
      float: left;
      margin-top: 5px;
    }
    
    .link {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
    }
    
    li a:hover{
      background-color: black;
    }
    
    .desktop-menu{
      display: none;
    }
    
    .desktop-menu a {
      display: block;
      color:white;
      padding:16px 16px ;
      text-decoration: none;
    }
    
    .desktop-menu.show {
      display: block;
    }
    
    .mobile-menu{
      display: none;
    }
  
    .mobile-menu a{
      display: block;
      color:white;
      padding:16px 16px ;
      text-decoration: none;
    }
  
    .mobile-menu.show{
      display: block;
    }
    
    .active {
      color: #ccc735;
    }
    #myVideo {
      right: 0;
      bottom: 0;
      width: 100%; 
      height: 10%;
    }
    
    .centered {
      z-index: 0;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bolder;
      font-size: 49px;
      color: white;
      text-shadow: 1px 2px 5px rgb(0 0 0 / 50%);
      font-family: sans-serif;
    }
    
    #quote1{
      z-index: 0;
      position: relative;
      text-align: center;
      margin-top: 15%;
      margin-bottom: 10%;
      left: 35%;
      right: 22%;
      transform: translate(-36%, -50%);
      font-size: 18px;
      color: white;
      text-shadow: 1px 2px 5px rgb(0 0 0 / 50%);
    }
    
    .traveling{
      margin-top: 240px;
     background-color: rgb(248, 248, 181);
    }
    
    #traveling2{
      padding-top: 35px;
      text-align: center;
    }
    
    #slogan{
      display: block;
      color: #ccc735;
      text-align: center;
      font-family: cursive;
    }
    
    .offer{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 50px;
      margin-top: 25px;
      margin-bottom: 25px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    .offer1{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 30px;
      padding-left: 4px;
      padding-right: 2px;
      margin-top: 35px;
     
    }
    
    .offer2{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 40px;
      padding-left: 6px;
      padding-right: 2px;
      margin-top: 35px;
     
    }
    
    .offer3{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 20px;
      margin-top: 25px;
      margin-bottom: 25px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    .offer4{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 40px;
      margin-top: 25px;
      margin-bottom: 25px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    .offer5{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 40px;
      margin-top: 25px;
      margin-bottom: 35px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    .offer6{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 40px;
      margin-top: 25px;
      margin-bottom: 35px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    .offer7{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 40px;
      margin-top: 25px;
      margin-bottom: 35px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    .offer8{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 40px;
      margin-top: 25px;
      margin-bottom: 35px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    .offer9{
      background-color: lightgoldenrodyellow;
      border-radius: 25px;
      display: inline-block;
      margin-left: 40px;
      margin-top: 25px;
      margin-bottom: 35px;
      padding-left: 8px;
      padding-right: 2px;
     
    }
    
    #image{
      border: 5px solid #ccc735;
      margin-left: 225px;
      width: 1000px;
      height: 650px;
    }
    
    .pic{
      width: 400px;
      height: 280px;
      border-radius: 15px;
      border: 7px solid #ddd;
    }
    .pic:hover {
      box-shadow: 0 0 2px 1px rgba(158, 0, 186, 0.5);
      opacity: 0.8;
      transition: 3;
    }
    
    .Text:hover{
      color: #ccc735; 
    }
    
    button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 20px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    
    button:hover {
      cursor: pointer;
    } 
    
    .fa-eur{
      border: 0px;
    }
    
    #reserve{
      text-decoration: none;
      float: right;
      padding-right: 20px;
    }
    
    footer{
      width: 100%;
      bottom: 0;
      background-color: #333;
      font-size: 13px;
    }
    .row{
      width: 85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    .col{
      flex-basis: 25%;
      padding: 10px;
    }
    #footerPhoto{
      margin-left: -45px;
      width: 280px;
      margin-top: 35px;
    }
    .footerText{
      color: lightgoldenrodyellow;
    }
    .col h3{
      width: fit-content;
      margin-bottom: 40px;
      position: relative;
      margin-top: 55px;
      color: #ccc735;
    }
    .email-id{
      width: fit-content;
      border-bottom: 1px solid #ccc;
      margin: 20px 0;
    }
    .footerList li{
      list-style: none;
      margin-bottom: 12px;
    }
    .footerLi{
      text-decoration: none;
      color: lightgoldenrodyellow;
      padding: 8px;
    }
    
    .col:nth-child(2), .col:nth-child(3){
      flex-basis: 15%;
    }
    .fa1{
      border: 0;
      margin-right: 10px;
      color: #ccc735;
      font-size: 20px;
    }
    .services{
      margin-left: 41px;
    }
    .email{
      padding: 15px;
      padding-right: 75px;
      border: 3px solid #ccc735;
    }
    .submit{
      padding: 15px;
      background-color: #cfc926;
      text-align: center;
      color: white;
      border: 0;
      padding-right: 85px;
      padding-left: 80px;
      margin-top: 10px;
      font-weight: bold;
      
    }
    .submit:hover {background-color: rgb(109, 104, 12);}
    .fa2{
      border: 0;
      color: white;
      font-size: 30px;
      margin-right: 25px;
      margin-top: 15px;
      cursor: pointer;
    }
    .copyright{
      color: #ccc735;
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 10px;
    }
    
    @media (max-width: 700px){
      footer{
          bottom: unset;
      }
      .col{
          flex-basis: 100%;
      }
      .col:nth-child(2), .col:nth-child(3){
          flex-basis: 100%;
      }
    
    }
   